

body {
    background: rgb(36, 44, 83);
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 60px;
  }
  
  ol, ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(255, 255, 255);
  }

  .table {
    font-size: 24px;
    color: rgb(233, 0, 0);
    background-color: black;
  }
  
  .hometitle{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    vertical-align: middle;
    color:rgb(81, 107, 255);
    font-size: 144px;
    margin-left: auto;
    margin-right: auto;
    margin: 500px;
    position: absolute;
  }

  .title {
    font-size: 48px;
    color: rgb(255, 255, 255);
  }

  .center {
    margin: auto;
    width: 55%;
    border: 3px solid rgb(162, 181, 211);
    padding: 10px;
    background-color: rgb(52, 82, 255);
  }
  
  .smalltitle{
    color: rgb(255, 255, 255);
  }

  .smallbutton{
    color: rgb(0, 0, 0);
  }

  .col{
    height: 100%;
  }

  .display{
    background-color: rgb(21, 26, 97);
  }

  .todo{
    color: white;
    font-family: 'Roboto Mono', monospace;
  }

  .delete{
    margin-left: auto; 
    margin-right: 0;
  }
  

  
